<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Søg efter flyinformation</h1>
    <hr class="m-y-md">
    <%= form_tag request.original_url, method: :get, class: "navbar-form navbar-left search-form" do %>
    <%= text_field_tag( :q, params[:q], placeholder: "Search for country or city Hamburg etc. ", class: "form-control" ) %>
    <%= select_tag "type", options_for_select([ "Afgange", "Ankomster" ],"Afgange"), class: "" %>
    <%= date_select("flight_time", "date") %>
    <%= select_tag "time", options_for_select([ "00","01","02","03","04","05","06","07","08","09","10", "11","12","13","14","15","16","17","18","19","20","21", "22","23","24" ],"00"), class: "" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <hr>

  <table class="table">
    <thead>
      <% unless @date_error.length > 0  %>
        <p>Searching from:
        <%= @date %></p>
      <% end  %>
      <% if flash[:type] %>
      <p><%= flash[:type] %></p>
      <% end %>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Company</th>
        <th scope="col">Location og Planenumber</th>
        <th scope="col">Gate</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% if @date_error.length <= 0 %>
        <% @noko.css('.stylish-table__row--body').each do |flight| %>
          <tr>
            <td><%= flight.css('div.stylish-table__cell div em').first.text %></td>
            <td><%= flight.css('div.stylish-table__cell span span').first.text %></td>
            <td>
              <%= flight.css('span strong span').text %>
              <br>
              <%= flight.css('div.flights__table__col--destination span small').text %>
            </td>
            <td>
            <%= flight.css('div.flights__table__col--gate span').text
             if flight.css('div.flights__table__col--gate span').text.length == 0
                @gate = "No gate specified"
             else
                @gate = flight.css('div.flights__table__col--gate span').text end %>
              <td>
              <%= if flight.css('span').count == 13
                    if flight.css('span')[11].text.length == 0
                       @status = "No status available"
                    else
                       @status = flight.css('span')[11].text
                    end
                 elsif
                   flight.css('span').count == 11
                     if flight.css('span')[9].text.length == 0
                        @status = "No status available"
                     else
                        @status = flight.css('span')[9].text
                     end
                 end %>
              </td>
            </tr>
           <%
           end
           else
           %>
              <tr>
                <th scope="row"><%= @date_error %></th>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>

    </div>
